- page_title!('Editando slide')

#region-slides.container

  .region
    .region-title
      %h1
        Editando
        %b
          slide

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
