- page_title!('Editando contacto')

#region-contactos.container

  .region
    .region-title
      %h1
        Editando
        %b
          contacto

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @contacto, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
