
#carousel-generic.carousel.slide

  %ol.carousel-indicators
    - @slides.each_with_index do |slide, index|
      - if index == 0
        %li.active{:'data-target' => '#carousel-generic', :'data-slide-to' => index, :'data-interval' => '100'}
      - else
        %li{:'data-target' => '#carousel-generic', :'data-slide-to' => index, :'data-interval' => '100'}

  .carousel-inner
    - @slides.each_with_index do |slide, index|
      - if index == 0
        .item.active
          = image_tag slide.imagen_url(:full), class: 'full-width'
      - else
        .item
          = image_tag slide.imagen_url(:full), class: 'full-width'

  -#
    = link_to content_tag(:span, '', class: 'icon-prev'), '#carousel-generic', :'data-slide' => 'prev'
    = link_to content_tag(:span, '', class: 'icon-next'), '#carousel-generic', :'data-slide' => 'next'
