- page_title!('Editando cancion')

#region-canciones.container

  .region
    .region-title
      %h1
        Creando
        %b
          cancion

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
