

h1, h2, h3, h4, h5, h6 {margin: 0; line-height: 120%}
h1 {font-size: 30px}
h2 {font-size: 34px}
h3 {font-size: 20px}

p {margin: 0 0 20px; line-height: 125%; text-align: justify;
  font-family: $secondary-font; font-size: $paragraph; font-weight: 400}


.region-title {
  border-radius: 17px; padding: 7px 15px 4px; background: $cyan1;
}

h2.title {
  @extend .region-title; @include inline-block; font-family: $secondary-font; 
  text-transform: uppercase; font-weight: 700; color: black;
}
.region {
  header { margin-bottom: 30px}
}

@media (max-width: 800px) {
  .region header {text-align: center}
}

.navbar-default .navbar-nav > li > a {
  font-family: $primary-font; color: $cyan1; @extend .menu-a;
}
