@media (min-width:2540px){

.animals-camaron{
float: left;
margin-top: random(200) + 300 + px;
margin-left: random(100) + 200 + px;
}
.animals-taira{
float: left;
margin-top: random(85) + 450 + px;
margin-left: random(100) + 200 + px;
}
.animals-pulpos{
float: left;
margin-top: random(200) + 250 + px;
margin-left: random(20) + 60 + px;
}
.animals-estrella{
float: left;
margin-top: random(300) + 230 + px;
margin-left: random(90) + 210 + px;
}
.animals-concha{
float: left;
margin-top: random(50) + 500 + px;
margin-left: random(100) + 200 + px;
}
.animals-burbujas{
float:left;
margin-top: random(150) + 300 + px;
margin-left: random(90) + 210 + px;
}
.animals-burbujas1{
float: left;
margin-top: random(200) + 340 + px;
margin-left: random(90) + 210 + px;
}
.animals-burbujas2{
float: left;
margin-top: random(200) + 340 + px;
margin-left: random(90) + 210 + px;
}
.animals-burbujas3{
float: left;
margin-top: random(200) + 340 + px;
margin-left: random(90) + 210 + px;
}
.animals-angelica{
float:left;
margin-top: random(100) + 330 + px; 
margin-left: random(70)+ 230 + px;
}
.animals-globo{
float:left;
margin-top: random(100) + 300 + px;
margin-left: random(80) + 220 + px;
}
}


@media (max-width:760px){
#main-footer{
min-height:200px;
}
.animals-camaron{
display:none;
}
.animals-taira{
display:none;
}
.animals-pulpos{
float: left;
margin-top: random(20) + 55 + px;
}
.animals-estrella{
display:none;
}
.animals-concha{
display:none;
}
.animals-burbujas{
display:none;
}
.animals-burbujas1{
display:none;
}
.animals-burbujas2{
display:none;
}
.animals-burbujas3{
display:none;
}
.animals-angelica{
float:left;
margin-top: random(10) + 60  + px; 
margin-left: random(5) +  10 + px;
}
.animals-globo{
float:left;
margin-top: random(20) + 50 +  px;
margin-left: random(5) + 10 + px;
}
}
