@media (min-width:2540px){

.animals-camaron{
float: left;
margin-top: random(200) + 300 + px;
margin-left: random(100) + 200 + px;
}
.animals-taira{
float: left;
margin-top: random(85) + 450 + px;
margin-left: random(100) + 200 + px;
}
.animals-pulpos{
float: left;
margin-top: random(200) + 250 + px;
margin-left: random(20) + 60 + px;
}
.animals-estrella{
float: left;
margin-top: random(300) + 230 + px;
margin-left: random(90) + 210 + px;
}
.animals-concha{
float: left;
margin-top: random(50) + 500 + px;
margin-left: random(100) + 200 + px;
}
.animals-burbujas{
float:left;
margin-top: random(150) + 300 + px;
margin-left: random(90) + 210 + px;
}
.animals-burbujas1{
float: left;
margin-top: random(200) + 340 + px;
margin-left: random(90) + 210 + px;
}
.animals-burbujas2{
float: left;
margin-top: random(200) + 340 + px;
margin-left: random(90) + 210 + px;
}
.animals-burbujas3{
float: left;
margin-top: random(200) + 340 + px;
margin-left: random(90) + 210 + px;
}
.animals-angelica{
float:left;
margin-top: random(100) + 330 + px; 
margin-left: random(70)+ 230 + px;
}
.animals-globo{
float:left;
margin-top: random(100) + 300 + px;
margin-left: random(80) + 220 + px;
}
}


@media (max-width:760px){
#main-footer{
min-height:200px;
}
.animals-camaron{
display:none;
}
.animals-taira{
display:none;
}
.animals-pulpos{
float: left;
margin-top: random(20) + 55 + px;
}
.animals-estrella{
display:none;
}
.animals-concha{
display:none;
}
.animals-burbujas{
display:none;
}
.animals-burbujas1{
display:none;
}
.animals-burbujas2{
display:none;
}
.animals-burbujas3{
display:none;
}
.animals-angelica{
float:left;
margin-top: random(10) + 60  + px; 
margin-left: -5px;
}
.animals-globo{
float:right;
margin-top: random(20) + 50 +  px;
margin-left: random(5) - 5 + px;
}

#main-header {
  .navbar-header {
  width: 100%;
  }

  .navbar-collapse {
  min-height: 500px; 
  width: 100%;
  }

  .navbar-nav{
  width: 300px;
  margin:0px auto;
  }
}

.social-links{
text-align: center !important;
}

}

@media (max-width:390px){
#region-actividades .region{
margin-left:-20px;
}
}


@media (max-width:579px){
#main-footer{
margin-top:160%;
}
}
@media(min-width:580px) and (max-width:746px){
#main-footer{
  margin-top: 70%;
}
}


@media (max-width:550px){
#region-Juegos{
  display:none;
}
section{
text-align: center;
margin: 100px 0 150px 0;
}
#mensaje{
display: inline-block;
}
#main-footer{
margin-top:0px;
}
}

@media (max-width:980px){
.container{
max-width: 760px;
}
}
@media(min-width:768px) and (max-width:850px){
#nube-1{
margin-left:-40px;
}
#nube-4{
margin-left:-40px;
}
#nube-5{
margin-left:10px;
}
#nube-3{
margin-left:5px;
}
#nube-6{
margin-left:20px;
}
}
@media (min-width:760px) and (max-width: 980px){

.animals-camaron{
display:none;
}
.animals-taira{
float:left;
margin-top: random(120) + 300  + px; 
margin-left: random(20) + 40 + px;
}
.animals-pulpos{
float: left;
margin-top: random(200) + 150 + px;
}
.animals-estrella{
display:none;
}
.animals-concha{
display:none;
}
.animals-burbujas{
float:left;
margin-top: random(200) + 200 + px; 
margin-left: random(20) + 40 + px;
}
.animals-burbujas1{
display:none;
}
.animals-burbujas2{
display:none;
}
.animals-burbujas3{
float:left;
margin-top: random(200) + 200  + px; 
margin-left: random(20) + 40 + px;
}
.animals-angelica{
float:left;
margin-top: random(90) + 330  + px; 
margin-left: random (20) + 40 + px;
}
.animals-globo{
float:left;
margin-top: random(20) + 50 +  px;
margin-left: random(10) + 50 + px;
}
#main-footer{
min-height:488px;
}
.region-inner{
margin:0px auto;
width:100%;
}
} 

@media (min-width:981px) and (max-width: 1280px){

.animals-camaron{
display:none;
}
.animals-taira{
float:left;
margin-top: random(130) + 400  + px; 
margin-left: random(50) + 50 + px;
}
.animals-pulpos{
float: left;
margin-top: random(200) + 250 + px;
}
.animals-estrella{
float:left;
margin-top: random(250) + 200  + px; 
margin-left: random(100) + 50 + px;
}
.animals-concha{
display:none;
}
.animals-burbujas{
float:left;
margin-top: random(200) + 200  + px; 
margin-left: random(60) + 40 + px;
}
.animals-burbujas1{
display:none;
}
.animals-burbujas2{
float:left;
margin-top: random(200) + 200  + px; 
margin-left: random(60) + 60 + px;
}
.animals-burbujas3{
float:left;
margin-top: random(200) + 250  + px; 
margin-left: random(60) + 40 + px;
}
.animals-angelica{
float:left;
margin-top: random(100) + 400  + px; 
margin-left: random (120) + 80 + px;
}
.animals-globo{
float:left;
margin-top: random(250) + 200 +  px;
margin-left: random(100) + 80 + px;
}
#main-footer{}
}
