  .navbar-default {@extend .nubes; border: 0; border-radius: 0}

#main-header {@extend .gradient-1}
#main-footer {
@include background(url(fondo-marino.jpg), linear-gradient(white 12%, $cyan1 138%), no-repeat, bottom );
  min-height: 600px; width: 100%; background-size: contain; margin-top: 230px; }
@media (min-width: 1000px) {
  #main-header .navbar-default {min-height: 300px}
}

.full-width {width: 100%}


$icons-sprite-dimensions: true;
@import "icons/*.png"; /**/
@include all-icons-sprites;


$animals-sprite-dimensions: true;
@import "animals/*.png";
@include all-animals-sprites;


.icons {
  i {
    display: block; margin-right: 10px; float: left;
    &.facebook {@include icons-sprite(facebook)}
    &.twitter {@include icons-sprite(twitter)}
    &.instagram {@include icons-sprite(instagram)}
    &.googleplus {@include icons-sprite(googleplus)}
    &.pinterest {@include icons-sprite(pinterest)}
    &.youtube {@include icons-sprite(youtube)}
    &.print {@include icons-sprite(print)}
  }
}

.print_img{
display: inline-block;
position: relative;
margin-bottom: -180px;
margin-left: -21%;
z-index: 100;
}

.nubes, .navbar-default{
padding-bottom: 60px;
}

.animals{
  i {
  display: block; margin-right: 10px; float: left;
  &.burbujas {@include animals-sprites(burbujas)}
  &.burbujas1 {@include animals-sprites(burbujas1)}
  &.burbujas2 {@include animals-sprites(burbujas2)}
  &.burbujas3 {@include animals-sprites(burbujas3)}
  &.angelica {@include animals-sprites(angelica)}
  &.taira {@include animals-sprites(taira)}
  &.pulpos {@include animals-sprites(pulpos)}
  &.concha {@include animals-sprites(concha)}
  &.camaron {@include animals-sprites(camaron)}
  &.estrella {@include animals-sprites(estrella)}
  &.globo {@include animals-sprites(globo)}
  }
}


.animals-camaron{
float: left;
margin-top: random(200) + 300 + px;
margin-left: random(40) + 40 + px;
}
.animals-taira{
float: left;
margin-top: random(85) + 450 + px;
margin-left: random(60) + 40 + px;
}
.animals-pulpos{
float: left;
margin-top: random(200) + 250 + px;
}
.animals-estrella{
float: left;
margin-top: random(300) + 130 + px;
margin-left: random(40) + 50 + px;
}
.animals-concha{
float: left;
margin-top: random(50) + 500 + px;
margin-left: random(50) + 40 + px;
}
.animals-burbujas{
float:left;
margin-top: random(150) + 300 + px;
margin-left: random(30) + 50 + px;
}
.animals-burbujas1{
float: left;
margin-top: random(200) + 340 + px;
margin-left: random(30) + 50 + px;
}
.animals-burbujas2{
float: left;
margin-top: random(200) + 340 + px;
margin-left: random(30) + 50 + px;
}
.animals-burbujas3{
float: left;
margin-top: random(200) + 340 + px;
margin-left: random(30) + 50 + px;
}
.animals-angelica{
float:left;
margin-top: random(100) + 330 + px; 
margin-left: random(30)+ 70 + px;
}
.animals-globo{
float:left;
margin-top: random(100) + 300 + px;
margin-left: random(40) + 60 + px;
}

.sol{
margin-top:-90px;
}



.icon_print{
position: relative;
margin-top: -15%;
margin-left: 72%;
z-index: 1000;

}

.imagenes{
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 0px;
  width: 317px;
}
.social-links {
  ul {padding: 0}
  #region-Inicio & {@include absolute(top, right, 0, 0); z-index: 20}
}

@media (max-width: 1000px) {
  #region-Inicio .social-links {position: relative; top: auto; right: auto}
}

.social-links {
  text-align: right;
  li {@include inline-block; list-style: none}
}

#logo {margin-top: 5px}

.nube { position: absolute;}

.nube a{font-size:20px;}

.navbar-nav li a {padding-left:40px; padding-top:32px; text-align:center;}

@for $i from 1 through 6 {
  #nube-#{$i} {
    animation-name: bobble;
    animation-duration: random(9) + 2s;
    animation-iteration-count: infinite;
    @if $i == 3{
    margin-left: random(30) + px;
    //margin-right:  20%;
    margin-bottom: random(30) + px;
     }@else{
    margin-left: random(35 - 70) + px;
    }
    margin-bottom: random(10 - 25) + px;
  }
 }

@keyframes bobble {
  0% {
    transform: translate3d(50px, 40px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(50px, 50px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(50px, 40px, 0px);
    animation-timing-function: ease-in;
  }
}

#region-presentacion{
height:50%;
}

#region-presentacion iframe{
margin-top:90px;
}


#ademas{
text-align:center;
margin-top:200px;
}

.region>.img-responsive{
margin-top:80px;
}


.clear{
clear:both;
}

.navbar-right{
float:none !important;
}

.region-datos{
margin-bottom:30px;
}

.region-datos .region-titulo{
 text-align:center !important;
}

.region-datos #numero{
margin-right:40%;
display:inline;
}
.region-datos #correo{
display:inline;
}

#new_contacto{
width:90%;
margin:0px auto;
}

.region-inner{
  background-color: $pink;
  border-radius:  8px;
}

.form-group-side .actions input{
  background-color: $cyan2;
  font-family: $primary-font;
  margin-left: 73%;
}

fieldset {
padding:20px;
margin-bottom:20px;
}

.form-group-side{
@extend .col-lg-6;
@extend .col-md-6;
@extend .col-sm-6;
@extend .col-xs-12;

padding-top:20px;
padding-bottom:20px;
}

textarea{
width:100%;
}

.region-inner{
@extend .col-lg-10;
@extend .col-md-10;
@extend .col-sm-10;
@extend .col-xs-12;
@extend .m-bottom-m;
@extend .col-lg-offset-1;
@extend .col-md-offset-1;
}

.region-contactos{
  form{
  @extend .col-lg-8;
  @extend .col-md-8;
  @extend .col-sm-8;
  @extend .col-xs-12;
  @extend .col-lg-offset-2;
  @extend .col-md-offset-2;
  }
}

.img-actividades{
border: 8px solid $violet;
border-radius: 5px;
position:relative;
z-index: 1;
}

.region-title{
margin-bottom:30px;
.form-group-side{
  .form-group{
  margin-left:0;
  margin-right:0;
  }
  }
}

.form-control{
width:90%;
}

#region-Juegos{
  .region{
    .memory{
     //width: 100% !important; 
    }
  }
}
