.navbar-default {@extend .nubes; border: 0; border-radius: 0}

#main-header {@extend .gradient-1}
#main-footer {background: url(footer.png) no-repeat 50% 100%; height: 500px; width: 100%; background-size: cover}

@media (min-width: 1000px) {
  #main-header .navbar-default {min-height: 300px}
}

.full-width {width: 100%}


$icons-sprite-dimensions: true;
@import "icons/*.png"; /**/
@include all-icons-sprites;


.icons {
  i {
    display: block; margin-right: 10px; float: left;
    &.facebook {@include icons-sprite(facebook)}
    &.twitter {@include icons-sprite(twitter)}
    &.instagram {@include icons-sprite(instagram)}
    &.googleplus {@include icons-sprite(googleplus)}
    &.pinterest {@include icons-sprite(pinterest)}
    &.youtube {@include icons-sprite(youtube)}
  }
}


.social-links {
  ul {padding: 0}
  #region-Inicio & {@include absolute(top, right, 0, 0); z-index: 20}
}

@media (max-width: 1000px) {
  #region-Inicio .social-links {position: relative; top: auto; right: auto}
}

.social-links {
  text-align: right;
  li {@include inline-block; list-style: none}
}

#logo {margin-top: 5px}

.nube { position: absolute;}

.nube a{font-size:20px;}

.nube li{}

.navbar-nav li a {padding-left:40px; padding-top:32px; text-align:center;}



@for $i from 1 through 6 {
  #nube-#{$i} {
    animation-name: bobble;
    animation-duration: random(9) + 2s;
    animation-iteration-count: infinite;
    @if $i == 3{
    margin-left: random(100) + px;
    margin-right:  20%;
    margin-top: random(30) + px;
     }@else{
    margin-left: random(35 - 70) + px;
    }
    margin-bottom: random(10 - 25) + px;
  }
 }

@keyframes bobble {
  0% {
    transform: translate3d(50px, 40px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(50px, 50px, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(50px, 40px, 0px);
    animation-timing-function: ease-in;
  }
}
