

$cyan1:  #05b2da;
$cyan2:  #91f3fa;
$skin:   #f8c663;
$pink:   #fb90d4;
$violet: #9a97fe;
$green:  #b4fa66;



$legible: 20px;
$paragraph: 30px;


$primary-font:   'Luckiest Guy', cursive;
$secondary-font:  'Amatic SC', cursive;
