- page_title!('Creando actividad')

#region-actividades.container

  .region
    .region-title
      %h1
        Creando
        %b
          actividad

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
